<style>
body {margin:0;}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>

<nav>
  <ul>{% for item in site.data.navigation %}
    <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
  </ul>
</nav>